html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 90px;
    margin-bottom: 100px; /* Margin bottom by footer height */
}

/* In order page loading worked properly in Google Chrome */
body.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

#app {
    margin-bottom: 200px;
}

li.active a {
    color: #fff;
}

.active-color {
    color: #fff !important;
}

h1.app-header {
    font-size: 1rem;
    position: relative;
    margin-bottom: 0;
}

.navbar-brand {
    position: relative;
    top: 0;
    left: 0;
    @include google-font('Mali');
    font-family: 'Mali', cursive;
    font-size: 22px;
    color: #fff;
    @include app-transition(color, 320ms);

    &:hover {
        color: #18BC9C !important;
    }
}

a {
    @include app-transition(color, 320ms);
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.app-thubnail-wrapper img {
    margin-right: 10px;
    width: auto;
    height: 38px;
}

i.app-user-plus-icon {
    font-size: 0.8em;
    position: relative;
    left: 0;
    bottom: 1px;
}

div.custom-file .custom-file-input{
    cursor: pointer;
}

.app-message {
    animation-name: animateHeight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
    
/* For button back to top */

#back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
}

.app-edit-user-profile {
    textarea {
        resize: vertical;
        min-height: 200px;
    }
}

.app-user-profile {
    margin: auto;
    margin-bottom: 30px;
}

.app-form-required::after {
    content: ' *';
    font-size: 18px;
    color: #d00;
}

.profile-forms-box {
    position: relative;

    .app-delete-user-profile {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.find-friends-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
        margin-bottom: 0;
    }
}

.find-friends-items {
    img {
        width: 100px;
    }
}

.user-image img {
    width: 200px;
}

.about-user {
    @include visible-lines-count(3);
}

.user-has-friends-block {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span.user-friend-thumbnail {
        width: 50px;
        margin-right: 10px;
    }

    span.user-friend-name {
        margin-right: auto;
    }

    span.badge-pill {
        padding-right: 0.5em;
        padding-left: 0.5em;
        border-radius: 10rem;
    }
}

/* Bootstrap4 tooltip custom style */
.tooltip-inner {
    background-color: #2C3E50;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #2C3E50 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #2C3E50 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #2C3E50 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #2C3E50 !important;
}

.flags-box {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    background-color: #ccc;

    img {
        padding: 0px 5px;
        @include app-transition(background-color, 320ms);

        &:hover {
            background-color: darken(#ccc, 15%);
            padding: 0px 5px;
        }
    }
}

.selected-flag {
    background-color: darken(#ccc, 15%);
    padding: 0px 5px;

    &:hover {
        padding: 0;
    }
}

.locale-right-sidebar {
    width: 150px;
    margin: auto;
}

.user-profile-in-messages {
    display: flex;
    justify-content: flex-start;

    .user-img-in-messages {
        width: 50px;
        margin: 0 10px 20px 0;
    }

    .name-and-message-time {
        display: flex;
        flex-direction: column;

        .message-time {
            font-size: 14px;
            color: #888;
        }
    }
}

.message-textarea {
    resize: vertical;
    min-height: 80px;
}

.upload-image {
    position: relative;
    overflow: hidden;
    
    input {
        position: absolute;
        width: 95px; // btn width
        height: 28px; // btn height
        opacity: 0;
        right: 0;
        top: 0;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    background-color: transparent;
}

.gallery-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-gallery {
    column-count: 3;    
    -webkit-column-count: 3;    
    -o-column-count: 3;    
    -moz-column-count: 3;    
    -ms-column-count: 3; 
    
    column-gap: 0px;
    -webkit-column-gap: 0px;
    -o-column-gap: 0px;
    -moz-column-gap: 0px;
    -ms-column-gap: 0px;

    .gallery-image-wrap {
        margin-right: auto;    
        margin-left: auto; 
        padding: 5px;
        position: relative;

        a {
            display: inline-block;
        }

        &:hover button.delete-from-gallery {
            opacity: 1;
        }
    }
}

/* ZoomIn Hover Effect */
.hover-zoomin a {
    display: block;
    position: relative;
    overflow: hidden;
}

.hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hover-zoomin:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
/* End block */

h5.gallery-h5 {
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px #2C3E50, 1px -1px #2C3E50, -1px 1px #2C3E50, -1px -1px #2C3E50, 3px 3px 6px rgba(0,0,0,.5);
}

button.delete-from-gallery {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: opacity 300ms linear;
}

.hide-gallery-pic {
    transform: translateX(-5000px);
    transition: all 1.5s linear;
}







.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    background-color: $dark-blue;
    color: $txt-color;
    display: flex;

    div {
        margin: auto;
    }
}

















