@media only screen
and (min-width: 992px){
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
        color: #fff !important;
        background-color: transparent;
    }

    #mainNav.fixed-top .navbar-sidenav {
        height: calc(100vh);
    }

    #mainNav.fixed-top .sidenav-toggler {
        top: 4px;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #343a40;
        margin-top: 70px;
    }

    #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a,
    #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
        padding-top: 0em;
    }

    .app-user-profile {
        margin-bottom: 0;
    }
}

@media only screen
and (min-width: 768px){
    .app-thubnail-nav-link {
        position: relative;
    }

    .app-thubnail-wrapper {
        position: absolute;
        top: 0;
        left: -38px;

        img {
            margin-right: 0;
        }
    }

    .flags-box {
        width: 100%;
    }
}