@mixin app-transition($attr, $time) {
    transition: $attr, $time;
    -webkit-transition: $attr, $time;
    -moz-transition: $attr, $time;
    -o-transition: $attr, $time;
    -ms-transition: $attr, $time;
}

@mixin google-font($font) {
    $font: unquote($font);
    @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin visible-lines-count($cnt) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $cnt;
    overflow: hidden;
    text-overflow: ellipsis;
}
